
pre {
	border: 2px solid #38a;
	background-color: #000008;
	color: #fff8e0;
	font-weight: bold;
	padding: 0.3em;
	padding-left: 0px;
	border-radius: 0.2em;
}

a:link { color: #c00; }
a:visited { color: #600; }
a:active { color: #e40; }
a:hover { color: #f80; background-color: white; }

a { text-decoration: none; font-weight: 500; padding: 0.05em; border-radius: 0.2em;}

pre a:link { color: #0072ff; }
pre a:visited { color: #1082ff; }
pre a:active { color: #e40; }
pre a:hover { color: #f80; background-color: inherit; }

pre a { font-weight: inherit; }

hr {
	color: #333;
	background-color: #333;
	border: 0px solid red;
	height: 2px;
}

body {
	background-color: #eee;
}

p, li, h1, h2, h3, h4, h5, h6, blockquote {
	max-width: 40em;
}

blockquote { background-color: rgba(0,0,0,0.15); padding: 0.25em; margin-left: 1em; }

h2 {
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-top-left-radius: 0.2em;

	padding-left: 0.2em;
	padding-top: 0.2em;
}
h2 a { text-decoration: none; }
